*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.ipynb_checkpoints/
workspace/
ltr/admin/local.py
ltr/run_ltr_local.py
ltr/train_settings/*/debug.py
pytracking/parameter/*/debug.py
pytracking/networks/
pytracking/tracking_results/
pytracking/segmentation_results/
pytracking/result_plots/
pytracking/evaluation/local.py
pytracking/run_local.py
.vscode/
pytracking/experiments/pure_event_samples/
.gitignore
pytracking/experiments/07v58r01.mp4
output_imgs/
evutils/
pytracking/experiments/
pytracking/results/
pytracking/results_*
